/* Color picker, Репета 6 - 11 1:32 - создание коллекций*/

li {
  list-style-type: none;
  /* Убираем маркеры */
}
/* ul {
  margin: 0;
} */

img {
  display: block;
}

.container.blackboard {
  border-radius: 7px;
}

.color-picker__option {
  display: inline-block;
  width: 90px;
  height: 60px;
  margin: 4px;
  border: 2px solid yellow;
  /* outline: 2px solid yellow; */
  cursor: pointer;
  color: yellow;
  text-transform: uppercase;
  border-radius: 10px;
}

/*  */

/* .homework {
  background-color: rgb(100, 180, 180);
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 47, 0);
}

.homework-title {
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(129, 251, 255);
}
.homework-title-task {
  color:rgb(100, 180, 180);
  margin-left: 20px;
} */

.blackboard-header-name {
  color: royalblue;
  margin-bottom: 15px;
}
.blackboard-header-task {
  margin-bottom: 15px;
}

.blackboard-header-task {
  color: rgb(92, 172, 172);
}
.task {
  background-color: rgb(129, 251, 255);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  /* position: relative; */
}

/** Репета --------*/

/** Рисіч --------*/

/** Сімак --------*/

/* ! Модалка ----*/
.simak.section {
  position: relative;
}

body {
  position: relative;
}

body.open-modal {
  overflow-y: hidden;
}

body.open-modal  .simak-modal,
body.open-modal  .simak-modal-overlay {
  display: block;
}

.simak-modal {
  font-size: 30px;
  width: 50%;
  text-align: center;
  background-color: blanchedalmond;
  padding: 20px 30px;
  border: 2px solid pink;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.simak-modal-close-btn {
  background-color: transparent;
  font-size: 20px;
  color: red;
  border: 2px solid pink;
  border-radius: 5px;
}

.simak-modal-close-btn:active {
  background-color: rgb(255, 244, 227);
  border: 2px solid rgb(252, 218, 224);
  color: rgb(255, 53, 53);
}

.simak-modal-open-btn {
  background-color: transparent;
  font-size: 20px;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px 15px;
}
.simak-modal-open-btn:active {
  background-color: rgb(147, 251, 255);
  border: 2px solid rgb(0, 183, 0);
}

.simak-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.779);
  display: none;
}