/* Color picker, Репета 6 - 11 1:32 - создание коллекций*/

li {
  list-style-type: none;
  /* Убираем маркеры */
}
/* ul {
  margin: 0;
} */

img {
  display: block;
}

.container.blackboard {
  border-radius: 7px;
}

.color-picker__option {
  display: inline-block;
  width: 90px;
  height: 60px;
  margin: 4px;
  border: 2px solid yellow;
  /* outline: 2px solid yellow; */
  cursor: pointer;
  color: yellow;
  text-transform: uppercase;
  border-radius: 10px;
}

/*  */

/* .homework {
  background-color: rgb(100, 180, 180);
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 47, 0);
}

.homework-title {
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(129, 251, 255);
}
.homework-title-task {
  color:rgb(100, 180, 180);
  margin-left: 20px;
} */

.blackboard-header-name {
  color: royalblue;
  margin-bottom: 15px;
}

.blackboard-header-task {
  color: rgb(92, 172, 172);
}
.task {
  background-color: rgb(129, 251, 255);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

