h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  min-width: 700px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
  }
}

.nav-mobile__list .bd {
  color: blue;
}

.nav-mobile__link {
  color: red;
  font-style: italic;
}

.nav-mobile__item {
  color: green;
}

.nav-mobile__list .hm {
  font-style: normal;
}

.nav__link {
  font-size: 20px;
  color: royalblue;
}

.nav__list {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.nav__item {
  background-color: rgb(180, 220, 255);
  padding: 5px 10px;
  outline: 1px solid rgb(160, 160, 255);
  border-radius: 2px;
}
.nav__item:hover {
  outline: 1px solid rgb(85, 85, 255);
  color: royalblue;
}
.nav__item:not(:last-child) {
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-number {
  font-size: 20px;
  font-weight: 600;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.header-home {
  color: darkblue;
}

.header-level {
  margin-bottom: 20px;
  color: royalblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__btn {
  background-color: rgb(180, 220, 255);
  font-size: 20px;
  color: royalblue;
  border: none;
  padding: 0;
}

.dropdown__content {
  margin-top: 6px;
  margin-left: -10px;
  border-radius: 2px;
  outline: 1px solid rgb(85, 85, 255);
  display: none;
  position: absolute;
  font-weight: 300;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__content li:hover {
  background-color: rgb(235, 241, 246);
}

.dropdown__content .dropdown__item {
  color: royalblue;
  font-size: 20px;
  background-color: rgb(180, 220, 240);
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}
.dropdown__item:last-child {
  border-bottom: 1px solid rgb(85, 85, 255);
}

.banner {
  font-size: 38px;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.section-notice__paragraph {
  padding: 15px 10px;
  font-size: 18px;
  color: darkblue;
  outline: 1px solid darkblue;
  border-radius: 3px;
}

body.show-modal .modal {
  transform: scale(1);
}

.modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
body.show-modal .modal__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal__window {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  color: darkgreen;
  outline: 2px solid green;
  background-color: rgb(143, 255, 197);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__header {
  color: darkgreen;
}

.modal__button {
  color: darkgreen;
  background-color: mintcream;
  min-width: 75px;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  outline: 2px solid green;
}
.modal__button:hover {
  color: rgb(0, 209, 14);
  background-color: rgb(205, 255, 255);
  outline: 2px solid rgb(0, 209, 14);
}
.modal__button:active {
  outline: 2px solid rgb(207, 235, 1);
}

.modal__text {
  font-weight: 700;
  color: crimson;
  font-size: 38px;
}

.cup__list {
  display: flex;
  flex-wrap: wrap;
}

.cup__item {
  border: 1px solid blue;
  padding: 10px;
  width: 400px;
  height: 400px;
}
.cup__item img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cup__item {
    width: calc((100% - 20px) / 2);
    margin: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .cup__item {
    width: calc((100% - 60px) / 3);
    margin: 10px;
  }
}
@media screen and (max-width: 767px) {
  .cup__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

html {
  scroll-behavior: smooth;
}

#progress {
  /* background-color: cornflowerblue; */
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: aliceblue;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: cornflowerblue;
}

.footer {
  min-height: 20px;
  background-color: rgb(200, 255, 255);
}/*# sourceMappingURL=index.css.map */