* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* body {
    background-color: #c8c9d4;
  } */
  /* .container {
    width: 200vmin;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  } */
  .tabs {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  h3 {
    background-color: #e4e9fd;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
  }
  .tab-content {
    background-color: #ffffff;
    padding: 50px 40px;
  }
  .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
  }
  .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
  }
  .tab-content div {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
  .tabs .active {
    background-color: #ffffff;
    color: #4d5bf9;
  }



#tab1,
#tab2,
#tab3,
#tab4,
#tab5,
#tab6,
#tab7,
#tab8,
#tab9,
#tab10 {
   text-align: center;
   float: left;
   padding: 5px 10px 5px 10px;
   background: royalblue;
   color: #ffffff;
   font-weight: 700;
   margin: 10px 5px 0px 5px;
   cursor: pointer;
   border-radius: 5px;
   border: none;
}

#tab1:hover,
#tab2:hover,
#tab3:hover,
#tab4:hover,
#tab5:hover,
#tab6:hover,
#tab7:hover,
#tab8:hover,
#tab9:hover,
#tab10:hover {
   background: darkblue;
}

#tab1Content,
#tab2Content,
#tab3Content,
#tab4Content,
#tab5Content,
#tab6Content,
#tab7Content,
#tab8Content,
#tab9Content,
#tab10Content {
   width: auto;
   /* height: 100px; */
   /* padding: 20px; */
   /* border: 1px solid #b00098; */
   /* border-radius: 10px; */
}


#tab1Content,
#tab2Content,
#tab3Content,
#tab4Content,
#tab5Content,
#tab6Content,
#tab7Content,
#tab8Content,
#tab9Content,
#tab10Content {
   display: none;
}


