/* js 6-7.css */
li {
  list-style-type: none;
  /* Убираем маркеры */
}
/* ul {
  margin: 0;
} */

img {
  display: block;
}

.homework {
  background-color: rgb(100, 180, 180);
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 47, 0);
}

.homework-title {
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(129, 251, 255);
}
.homework-title-task {
  color: rgb(100, 180, 180);
  margin-left: 20px;
}

.task {
  background-color: rgb(129, 251, 255);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* контрольна 6 */
.img-properties {
  border-radius: 10px;
}

.gallery3 {
  display: flex;
  gap: 21px;
}

#value {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: rgb(92, 172, 172);
}

.button-task-four {
  background-color: rgb(129, 251, 255);
  border: 3px solid rgb(92, 172, 172);
  border-radius: 3px;
  color: rgb(92, 172, 172);
}

/* ----------------------------------------- */

h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightblue;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.nav-link {
  /* text-decoration: underline 2px royalblue dotted; */
  font-size: 20px;
  color: royalblue;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  /* background-color: rgb(180, 220, 255); */
  padding: 5px 10px;
  outline: 2px solid rgb(160, 160, 255);
  border-radius: 2px;
}

.nav-list-item:not(:last-child) {
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-number {
  /* color: darkblue; */
  font-size: 20px;
  font-weight: 600;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.nav-list-item:hover {
  outline: 1px solid rgb(85, 85, 255);
  background-color: rgb(243, 249, 254);
  color: royalblue;
}

.section {
  min-width: 700px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px 40px;
}

.header-home {
  color: darkblue;
}

.abzatz-notice {
  padding: 15px 10px;
  font-size: 18px;
  color: darkblue;
  outline: 1px solid darkblue;
  border-radius: 3px;
}

.header-level {
  margin-bottom: 20px;
  color: royalblue;
}

.good-luck {
  font-size: 38px;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-bottom: 25px;
}

.task-paragraph {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(0, 241, 241);
}


/* ============ Hoverable Dropdown =============== */

.dropbtn {
  background-color:transparent;
  font-size: 20px;
  color: royalblue;
  border: none;
  padding: 0;
  

}
.dropbtn:hover {
 cursor: pointer; 
}

.dropdown:hover {
  background-color: rgb(243, 249, 254);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 6px;
  margin-left: -10px;
  border-radius: 2px;

  outline: 1px solid rgb(85, 85, 255);
  display: none;
  position: absolute;
  font-weight: 300;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropbtn-markup-abstract {
  color: royalblue;
  font-size: 20px;
  /* background-color: rgb(180, 220, 240); */
  padding: 4px 10px;
  /* text-decoration: none; */
  display: block;
}
.dropdown-content .dropbtn-js-abstract {
  color: royalblue;
  font-size: 20px;
  /* background-color: rgb(180, 220, 240); */
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}
.dropbtn-markup-abstract:last-child {
  border-bottom: 1px solid rgb(85, 85, 255);
}

.dropdown-content li:hover {
  /* color: rgb(60, 60, 255); */
  /* text-decoration: underline; */
  /* font-weight: 400; */
  background-color: rgb(235, 241, 246);
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropbtn {
  /* background-color: rgb(180, 220, 255); */
  font-size: 20px;
  color: royalblue;
  border: none;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 6px;
  margin-left: -10px;
  border-radius: 2px;

  outline: 1px solid rgb(85, 85, 255);
  display: none;
  position: absolute;
  font-weight: 300;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: royalblue;
  font-size: 20px;
  min-width: 400px;
  background-color: rgb(243, 249, 254);
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* color: rgb(60, 60, 255); */
  /* text-decoration: underline; */
  font-weight: 400;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ! Hippodrome */

  
.th {
  padding: 15px;
  border: solid 1px darkgreen;
  border-collapse: collapse;
  color: darkgreen;
  text-align: center;
}


