body.show-modal {
  .modal {
    transform: scale(1);
  }
}

.modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

  body.show-modal & {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.modal__window {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  color: darkgreen;
  outline: 2px solid green;
  background-color: rgb(143, 255, 197);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__header {
  color: darkgreen;
}

.modal__button {
  color: darkgreen;
  background-color: mintcream;
  min-width: 75px;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  outline: 2px solid green;
  cursor: pointer;

  &:hover {
    color: rgb(0, 209, 14);
    background-color: rgb(205, 255, 255);
    outline: 2px solid rgb(0, 209, 14);
  }
  &:active {
    outline: 2px solid rgb(207, 235, 1);
  }
}

.modal__text {
  font-weight: 700;
  color: crimson;
  font-size: 38px;
}
