.nav-mobile__list .bd {
  color: blue;
}

.nav-mobile__link {
  color: red;
  font-style: italic;
}
.nav-mobile__item {  
  color: green;
}

.nav-mobile__list .hm {
  font-style: normal;
}

.nav-mobile__wrap {
  position: relative;
  
}

.modal-menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.5);
 z-index: 10;
}

.modal-menu__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-menu__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  min-width: 50%px;
  padding: 15px;
  background-color: aliceblue;
  overflow: auto;
  border-radius: 5px;
}

.sprite-button__menu {
  width: 40px;
  height: 40px;
  padding: 0px;
  color: blue;

  background-color: #b4dcff;
  border: none;
  border-radius: 5px;
}

.sprite-button__close {
  position: absolute;
 top: 0;
 right: 0;
  width: 40px;
  height: 40px;
  padding: 0px;
  color: blue;

  background-color: #b4dcff;
  border: none;
  border-radius: 5px;
}

.sprite-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.sprite-button__close:hover,
.sprite-button__menu:hover {
  // color: red;
  border: 2px solid blue;
  cursor: pointer;
}

.sprite-button__close:active {
  // color: red;
  border: 1px solid blue;
}
