// .nav-mobile {
//     display: none;
// }

.nav-mobile__list .bd {
   color: blue;
}

.nav-mobile__link {
    color: red;
    font-style: italic;
    
}
 .nav-mobile__item {
    color: green;
 }

 .nav-mobile__list .hm{
    font-style: normal;
 }